.companies{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
  box-sizing: border-box;
  background: var(--bg-color);
}

.companies .header{
  height: 50px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.companies .header button{
  margin-left: auto;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 35px;
  width: 130px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border:0;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--success);
  color: var(--text-color);
} 
.companies .header button span:first-child{
  font-weight: 500;
  font-size: 1.4rem;
} 